<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- create by autoCode,v1.0.0 -->
<mapper namespace="com.caopan.TrainSys.biz.dao.QuestionDao">
	<resultMap id="questionResultMap" type="com.caopan.TrainSys.model.Question">
		<id property="quesId" column="quesId"/>
		<result property="quesContent" column="quesContent"/>
		<result property="quesType" column="quesType"/>
		<result property="vCourseId" column="vCourseId"/>
	</resultMap>
	<insert id="insert" parameterType="com.caopan.TrainSys.model.Question" useGeneratedKeys="true"
			keyProperty="quesId">
		INSERT INTO question (quesContent, quesType, vCourseId)
		VALUES (#{quesContent}, #{quesType}, #{vCourseId})
	</insert>
	<select id="getQuestionRandly" resultMap="questionResultMap" parameterType="java.lang.Integer">
		SELECT * FROM question where vCourseId =#{vCourseId} order by rand() LIMIT 2;
	</select>

	<select id="getQuesByquesId" parameterType="long" resultMap="questionResultMap">
		SELECT * FROM question WHERE quesId=#{quesId} LIMIT 1
	</select>


</mapper>
