<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- create by autoCode,v1.0.0 -->
<mapper namespace="com.caopan.TrainSys.biz.dao.StudyDao">
	<resultMap id="studyReportResultMap" type="com.caopan.TrainSys.model.StudyReport">
		<id property="reportId" column="reportId"/>
		<result property="isFinish" column="isFinish"/>
		<result property="studyTime" column="studyTime"/>
		<result property="userId" column="userId"/>
		<result property="vCourseId" column="vCourseId"/>
	</resultMap>

	<insert id="insert" parameterType="com.caopan.TrainSys.model.StudyReport" useGeneratedKeys="true"
			keyProperty="testId">
		INSERT INTO StudyReport (isFinish, studyTime, userId, vCourseId)
		VALUES (#{isFinish}, #{studyTime}, #{userId}, #{vCourseId})
	</insert>

	<update id="update" parameterType="com.caopan.TrainSys.model.StudyReport">
		update studyreport <set>
		<if test="isFinish!=null">studyreport.isFinish=#{isFinish},</if>
		<if test="studyTime!=null">studyreport.studyTime=#{studyTime},</if>
		<if test="userId!=null">studyreport.userId=#{userId},</if>
		<if test="vCourseId!=null">studyreport.vCourseId=#{vCourseId},</if>
	</set>
		where studyreport.reportId=#{reportId}
	</update>

	<delete id="delete" parameterType="Long">
		delete from StudyReport where reportId=#{reportId}
	</delete>

	<select id="getReportByuserId" resultMap="studyReportResultMap" parameterType="Long">
		SELECT * FROM StudyReport where userId=#{userId};
	</select>


	<select id="getReport" parameterType="long" resultMap="studyReportResultMap">
		SELECT * FROM StudyReport WHERE userId=#{userId} and vCourseId=#{vCourseId} limit 1;
	</select>

</mapper>