<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- create by autoCode,v1.0.0 -->
<mapper namespace="com.caopan.TrainSys.biz.dao.TestDao">
	<resultMap id="testResultMap" type="com.caopan.TrainSys.model.Test">
		<id property="testId" column="testId"/>
		<result property="grade" column="grade"/>
		<result property="testTime" column="testTime"/>
		<result property="userId" column="userId"/>
		<result property="classifyId" column="classifyId"/>
	</resultMap>

	<insert id="insert" parameterType="com.caopan.TrainSys.model.Test" useGeneratedKeys="true"
			keyProperty="testId">
		INSERT INTO test (grade, testTime,testRecord, userId, classifyId)
		VALUES (#{grade}, #{testTime},#{testRecord}, #{userId}, #{classifyId})
	</insert>

	<delete id="delete" parameterType="Long">
		delete from test where testId=#{testId}
	</delete>

	<select id="getTestByUserId" resultMap="testResultMap" parameterType="java.lang.Integer">
		SELECT * FROM test where testId=#{testId};
	</select>


	<select id="getTestBytestId" parameterType="long" resultMap="testResultMap">
		SELECT * FROM test WHERE testId=#{testId}
	</select>

</mapper>