<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- create by autoCode,v1.0.0 -->
<mapper namespace="com.caopan.TrainSys.biz.dao.UserDao">
    <resultMap id="userResultMap" type="com.caopan.TrainSys.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="mobile" column="mobile"/>
        <result property="idCard" column="idCard"/>
        <result property="openId" column="openId"/>
        <result property="role" column="role"/>
        <result property="classId" column="classId"/>
    </resultMap>

<!--    不返回主键-->
    <insert id="add" parameterType="com.caopan.TrainSys.model.User" useGeneratedKeys="true"
            keyProperty="id">
		INSERT INTO user (name, password, mobile, idCard,openId,role,classId)
		VALUES (#{name}, #{password}, #{mobile}, #{idCard}, #{openId}, #{role} , #{classId})
	</insert>
<!--    返回主键-->
    <insert id="insert" parameterType="com.caopan.TrainSys.model.User" useGeneratedKeys="true"
            keyProperty="id"  keyColumn="id">
		INSERT INTO user (name, password, mobile, idCard,openId,role,classId)
		VALUES (#{name}, #{password}, #{mobile}, #{idCard}, #{openId}, #{role} , #{classId})
	</insert>

    <update id="update" parameterType="com.caopan.TrainSys.model.User">
	update user <set>
        <if test="name!=null">user.name=#{name}</if>,
        <if test="password!=null">user.password=#{password}</if>,
        <if test="mobile!=null">user.mobile=#{mobile}</if>,
        <if test="idCard!=null">user.idCard=#{idCard}</if>,
        <if test="openId!=null">user.openId=#{openId}</if>,
        <if test="role!=null">user.role=#{role}</if>,
        <if test="classId!=null">user.classId=#{classId}</if>,
    </set>
	where user.id=#{id}
	</update>

    <delete id="delete" parameterType="long">
		delete from user where id=#{id}
	</delete>

    <select id="getUserByMobile" parameterType="Map" resultMap="userResultMap">
		SELECT * FROM user WHERE mobile=#{mobile} LIMIT 1
	</select>

    <select id="getUserByIdcard" parameterType="String" resultMap="userResultMap">
		SELECT * FROM user WHERE idCard=#{idCard} LIMIT 1
	</select>

    <select id="getUserByMobileAndIdCard" parameterType="Map" resultMap="userResultMap">
        SELECT * FROM user WHERE user.mobile like CONCAT('%',#{mobile},'%') and user.idCard in (select idCard FROM user where idCard like CONCAT('%',#{idCard},'%'))
    </select>

    <select id="getUserByOpenId" parameterType="String" resultMap="userResultMap">
		SELECT * FROM user WHERE openId=#{openId} LIMIT 1
	</select>
    <select id="getUserByClassId" parameterType="map" resultMap="userResultMap">
		SELECT * FROM user WHERE classId=#{classId}
	</select>
    <update id="updateOpenId" parameterType="java.lang.String"  >
        update user set
        openId=#{openId}
        where mobile=#{mobile}
    </update>

    <select id="findAllStudents" parameterType="map" resultMap="userResultMap">
		SELECT * FROM user where role = "1"
	</select>
    <select id="getUserById" parameterType="map" resultMap="userResultMap">
		SELECT * FROM user WHERE id=#{id}
	</select>

</mapper>
