<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- create by autoCode,v1.0.0 -->
<mapper namespace="com.caopan.TrainSys.biz.dao.VideoCourseDao">
	<resultMap id="videoCourseMap" type="com.caopan.TrainSys.model.VideoCourse">
		<id property="vCourseId" column="vCourseId"/>
		<result property="name" column="name"/>
		<result property="address" column="address"/>
		<result property="introduce" column="introduce"/>
		<result property="classifyId" column="classifyId"/>
		<result property="totalTime" column="totalTime"/>
	</resultMap>

	<insert id="insert" parameterType="com.caopan.TrainSys.model.VideoCourse" useGeneratedKeys="true"
			keyProperty="vCourseId">
		INSERT INTO videocourse (name, address, introduce, classifyId,totalTime)
		VALUES (#{name}, #{address}, #{introduce}, #{classifyId}, #{totalTime})
	</insert>

	<update id="update" parameterType="com.caopan.TrainSys.model.VideoCourse">
		update videocourse set videocourse.name=#{name},videocourse.address=#{address},videocourse.introduce=#{introduce},
		videocourse.classifyId=#{classifyId},videocourse.totalTime=#{totalTime}
		where videocourse.vCourseId=#{vCourseId}
	</update>

	<delete id="delete" parameterType="Long">
		delete from videocourse where vCourseId=#{vCourseId}
	</delete>

	<select id="getOneCourse" resultMap="videoCourseMap">
		SELECT * FROM videocourse where vCourseId=#{vCourseId} LIMIT 1
	</select>

	<select id="getvCourse" resultMap="videoCourseMap">
		SELECT * FROM videocourse
	</select>

	<select id="getvCourseByClassifyId" parameterType="Integer" resultMap="videoCourseMap">
		SELECT * FROM videocourse WHERE classifyId=#{classifyId}
	</select>
</mapper>